* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    background: #ecf0f1;
    position: relative;
}

.main_page {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
}

/* Header page */
.header_page {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background: #ecf0f1;
    /* margin-bottom: 50px; */
    /* padding: 10px; */
}

.header_page-logo {
    height: 150px;
    width: 15%;
    margin-right: 10px;
}

.header_page-category {
    padding: 0;
    width: 55%;
}

.header_page-category-main-menu {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.header_page-category-main-menu li {
    padding: 30px;
    cursor: pointer;
    position: relative;
}

.header_page-category-main-menu li:hover .header_page-category-sub-menu {
    /* opacity: 1; */
    display: block;
}

.header_page-category-main-menu a {
    color: #000;
}

.header_page-category-main-menu li i {
    margin-left: 5px;
    font-size: 12px;
}

.header_page-category-sub-menu {
    position: absolute;
    left: 50px;
    top: 70px;
    background: #fff;
    box-shadow: 0px 1px 6px 0px #dadada;
    display: none;
}

.header_page-category-sub-menu li {
    padding: 15px 10px;
    width: 180px;
    font-size: 14px;
}

.header_page-btns {
    width: 30%;
}

.header_page-btns button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.4s;
    border-radius: 10px;
}

/* .header_page-btns button:hover {
    background: rgba(0, 0, 0, 0.5)
} */

.header_page-btns button a {
    color: #000;
    font-size: 14px;
}

.header_page-btns button i {
    margin-right: 5px;
    font-size: 14px;
}

/* Search modal */
.header_page-modal-search {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* display: none; */
    transform: translateY(-1000px);
    transition: 0.3s;
}

.hide-modal-search {
    height: 100%;
}

.main-modal {
    background: #fff;
    padding: 30px;
    text-align: center;
    line-height: 2;
}

.main-modal-close-btn button {
    padding: 5px 15px;
    background: none;
    border: none;
    font-size: 20px;
    color: #c0392b;
    cursor: pointer;
}

.main-modal-title h1 {
    font-weight: normal;
    font-size: 30px;
}

.main-modal-category {
    width: 50%;
    margin: 0 auto;
}

.main-modal-category ul {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
}

.main-modal-category ul li {
    transition: 0.3s;
}

.main-modal-category ul li:hover {
    color: #c0392b;
}

.main-modal-search {
    width: 70%;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
}

.main-modal-search input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 10px;
    box-shadow: 0px 1px 6px 0px #dadada;
    outline: none;
}

.main-modal-search i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Body page */
.body_page {
    height: 100vh;
    background: #fff;
}

/* Footer page */
.footer_page {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer_page h3 {
    text-transform: uppercase;
}

.footer_page ul li {
    color: #95a5a6;
}

.footer_page-inforCompany,
.footer_page-policy,
.footer_page-members,
.footer_page-buyOnline {
    line-height: 1.8;
}

.footer_page-social ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer_page-social ul li {
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 4px;
}

.footer_page-social ul li a {
    color: #fff;
}

.facebook {
    background: #3B5998;
}

.twitter {
    background: #1DA1F2;
}

.instagram {
    background: #8A3AB9;
}